<div>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Wahlergebnisse
                </h1>
                <h2 class="subtitle">
                    Ergebnisse der einzelnen Regionen in Deutschland
                </h2>
            </div>
        </div>
    </section>
    <div ng-controller="CountryListController" class="box">
        <div class="columns">
            <div class="column">
                <h2 class="title">Bundesland</h2>
                <ul>
                    <li ng-repeat="bundesland in countries">
                        <a ng-click="show(bundesland.id)">{{bundesland.gebiet}}</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h2 class="title">Wahlkreis</h2>
                <label>Nach Wahlkreis suchen: <input ng-model="searchText"></label>
                <ul>
                    <li ng-repeat="wahlkreis in wahlkreise | filter:searchText">
                        <a ng-click="showDetails(wahlkreis.id)">{{wahlkreis.gebiet}}</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h2 class="title">Ergebnisse</h2>
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th>
                            Partei
                        </th>
                        <th>
                            Anzahl Stimmen
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, detail) in details">
                        <th>
                            {{key}}
                        </th>
                        <th>
                            {{detail}}
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <h2 class="title">Graph</h2>
                <div class="section">
                    <canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="data" chart-labels="labels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
